<% layout('main') -%>

<div id="services">
  <div class="header">
    <h1>SERVICES</h1>
    <h3>PAMPER YOURSELF WITH OUR SERVICES</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-18 col-sm-6 col-md-6">
        <h3>Facial Services</h3>
        <img src="/images/services/facial.jpg" alt="facial">
        <div class="category">
            <% data.facial.forEach((el) => { %>
              <div class="items">
                <h4><%= el.title %> <span> - <%= el.price %> (<%= el.length%>)</span></h4>
                <p><%= el.summary %></p>
              </div>
            <% }) %>
        </div>
      </div>
      <div class="col-xs-18 col-sm-6 col-md-6">
        <h3>Spa Treatments</h3>
        <img src="/images/services/spa.png" alt="spa">
        <div class="category">
            <% data.spa.forEach((el) => { %>
              <div class="items">
                <h4><%= el.title %> <span> - <%= el.price %> (<%= el.length%>)</span></h4>
                <p><%= el.summary %></p>
              </div>
            <% }) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-18 col-sm-6 col-md-6">
        <h3>GM Collin Facials</h3>
        <img src="/images/services/gm.jpg" alt="gm">
        <div class="category">
            <% data.collin.forEach((el) => { %>
              <div class="items">
                <h4><%= el.title %> <span> - <%= el.price %> (<%= el.length%>)</span></h4>
                <p><%= el.summary %></p>
              </div>
            <% }) %>
        </div>
      </div>
      <div class="col-xs-18 col-sm-6 col-md-6">
        <h3>Permanent Makeups</h3>
        <img src="/images/services/makeup.png" alt="makeup">
        <div class="category">
            <% data.makeup.forEach((el) => { %>
              <div class="items">
                <h4><%= el.title %> <span> - <%= el.price %> (<%= el.length%>)</span></h4>
                <p><%= el.summary %></p>
              </div>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
